<footer>
  <div id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          © 2015 <a href="http://www.hopperstracker.com">HoppersTracker</a>, all rights reserved.
        </div> <%#= /span6 %>
        <div id="builtby" class="col-md-6">
          Powered by  <a href="http://www.techhoppers.com">TechHoppers.</a>
        </div> <%#= /.span6 %>
      </div> <%#= /row %>
    </div> <%#= /container %>
  </div> <%#= /#footer %>
</footer>