<a class="btn btn-large btn-primary" href="<%= root_path %>">
  <i class="icon-chevron-left"></i>
  &nbsp;
		Back to Dashboard
</a>

<a class="btn btn-large" href="<%= root_path %>">
  <i class="icon-envelope"></i>
  &nbsp;
		Contact Support
</a>