<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="error-container">
          <h1>Oops!</h1>
          <h2>500 Not Found!</h2>

          <div class="error-details">
		Sorry, the page you have requested is not found!

          </div> <!-- /error-details -->

          <div class="error-actions">
            <a class="btn btn-large btn-primary" href="<%= root_path %>">
              <i class="icon-chevron-left"></i>
              &nbsp;
		Back to Dashboard
            </a>

            <a class="btn btn-large" href="<%= root_path %>">
              <i class="icon-envelope"></i>
              &nbsp;
		Contact Support
            </a>

          </div> <!-- /error-actions -->
        </div> <!-- /.error-container -->
      </div> <!-- /.span12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div>